html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  color: #666;
  background: #f6f6f6;
}

.header {
  color: black;
  text-align: center;
  font-size: 45px;
}

.search {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-bar {
  height: 25px;
  font-size: 16px;
}

.name-gallery,
.favourites {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px 3px;
  align-content: center;
}

.baby-names {
  padding: 5px;
  border: 5px;
  border-radius: 10px;
  border-color: #d4855a #6c4e97 #6c4e97 #d4855a;
  border-style: solid;
}

.f-name {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  background-color: #d4855a;
  color: rgb(51, 4, 4);
  cursor: pointer;
}

.m-name {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  background-color: #6c4e97;
  color: rgb(203, 230, 243);
  cursor: pointer;
}

.gender-male-off {
  width: 40px;
  height: 29px;
  background-color: #6c4e97;
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px black;
}

.gender-female-off {
  width: 40px;
  height: 29px;
  background-color: #d4855a;
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px black;
}

.gender-all-off {
  width: 40px;
  height: 29px;
  background-color: rgba(98, 98, 102, 0.308);
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px black;
}

.gender-male-on {
  width: 40px;
  height: 29px;
  background-color: #6c4e97;
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  border-color: chartreuse;
  border-color: chartreuse;
}

.gender-female-on {
  width: 40px;
  height: 29px;
  background-color: #d4855a;
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  border-color: chartreuse;
}

.gender-all-on {
  width: 40px;
  height: 29px;
  background-color: rgba(98, 98, 102, 0.308);
  font-size: 20px;
  color: rgb(2, 61, 88);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  border-color: chartreuse;
}

.gender-all-on:active {
  background-color: brown;
}

.App {
  padding: 5px;
  max-width: 1000px;
  margin: 0 auto;
}
